<h1 i18n="@@action.replicate.title">REPLICATE</h1>

<form class="form-replicate" [formGroup]="replicateFormGroup">
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.replicate.label.master">Master</mat-label>
    <input
      matInput
      type="text"
      formControlName="master"
      placeholder="cobbler-master.example.org"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.replicate.label.port">Port</mat-label>
    <input matInput type="number" formControlName="port" placeholder="80" />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.replicate.label.distro-pattern"
      >Distro Pattern</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="distro_patterns"
      placeholder="leap-15-*"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.replicate.label.profile-pattern"
      >Profile Pattern</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="profile_patterns"
      placeholder="leap-15-*-autoinstall"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.replicate.label.system-pattern"
      >System Pattern</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="system_patterns"
      placeholder="*-staging.example.org"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.replicate.label.repository-pattern"
      >Repository Pattern</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="repo_patterns"
      placeholder="opensuse-*"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.replicate.label.image-pattern"
      >Image Pattern</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="image_patterns"
      placeholder="sles-15-sp*"
    />
  </mat-form-field>
  <mat-slide-toggle
    labelPosition="before"
    formControlName="prune"
    class="form-field-full-width"
    i18n="@@action.replicate.prune"
    color="primary"
    >Prune</mat-slide-toggle
  >
  <mat-slide-toggle
    labelPosition="before"
    formControlName="omit_data"
    class="form-field-full-width"
    i18n="@@action.replicate.omit-data"
    color="primary"
    >Omit data</mat-slide-toggle
  >
  <mat-slide-toggle
    labelPosition="before"
    formControlName="sync_all"
    class="form-field-full-width"
    i18n="@@action.replicate.sync-all"
    color="primary"
    >Sync all</mat-slide-toggle
  >
  <mat-slide-toggle
    labelPosition="before"
    formControlName="use_ssl"
    class="form-field-full-width"
    i18n="@@action.replicate.use-ssl"
    color="primary"
    >Use SSL</mat-slide-toggle
  >
  <button mat-button (click)="runReplicate()" i18n="@@button.run">Run</button>
</form>
