<h1 mat-dialog-title i18n="@@snippet.create.title">Create Snippet</h1>
<div mat-dialog-content>
  <form [formGroup]="snippetCreateFormGroup">
    <mat-form-field>
      <mat-label i18n="@@snippet.create.field.name">Name</mat-label>
      <input
        matInput
        required
        cdkFocusInitial
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <mat-label i18n="@@snippet.create.field.content"
        >Template Content</mat-label
      >
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button
      mat-button
      (click)="createSnippet()"
      i18n="@@snippet.create.save-button"
    >
      Save Snippet
    </button>
    <button mat-button [mat-dialog-close]="false" i18n="@@button.cancel">
      Cancel
    </button>
  </div>
</div>
