<div class="right-column" id="dataScreen">
  <router-outlet></router-outlet>
  <div class="AppEvents-div">
    <h1 class="title" i18n="@@events.title">EVENTS</h1>

    <div class="filter-container">
      <!-- Select name -->
      <mat-form-field appearance="fill">
        <mat-label i18n="@@events.filter-name-label">Name</mat-label>
        <mat-select (selectionChange)="applyFilter()" #nameSelect>
          <mat-option value="" i18n="@@events.all-names">All names</mat-option>
          @for (name of cobblerEventsNames; track name) {
            <mat-option [value]="name">{{ name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- Select state -->
      <mat-form-field appearance="fill">
        <mat-label i18n="@@events.filter-state-label">State</mat-label>
        <mat-select (selectionChange)="applyFilter()" #stateSelect>
          <mat-option value="" i18n="@@events.all-states"
            >All states</mat-option
          >
          @for (element of cobblerEvents.data; track element.id) {
            <mat-option [value]="element.state">{{ element.state }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- Select date -->
      <mat-form-field appearance="fill">
        <mat-label i18n="@@events.filter-date-label">Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (dateChange)="applyFilter()"
          #dateInput
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="cobblerEvents">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef i18n="@@events.column-name">
          Name
        </th>
        <td mat-cell *matCellDef="let element">
          <a (click)="showLogs(element.id, element.name)">{{ element.name }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef i18n="@@events.column-state">
          State
        </th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
      </ng-container>

      <ng-container matColumnDef="statetime">
        <th mat-header-cell *matHeaderCellDef i18n="@@events.column-date">
          Date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.statetime * 1000 | date: "long" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="readByWho">
        <th mat-header-cell *matHeaderCellDef i18n="@@events.column-read-by">
          Read by
        </th>
        <td mat-cell *matCellDef="let element">
          @if (element.readByWho.length > 0) {
            -
            @for (item of element.readByWho; track item) {
              {{ item }} -
            }
            -
          }
          @if (element.readByWho.length === 0) {
            -
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="showLogs(element.id, element.name)">
              <mat-icon>description</mat-icon>
              <span i18n="@@events.show-logs">Show Logs</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
      i18n-aria-label="@@events.paginator-aria-label"
    >
    </mat-paginator>
  </div>
</div>
