<div class="right-column" id="dataScreen">
  <router-outlet></router-outlet>
  <div class="AppEvents-div">
    <h1 class="title">EVENTS</h1>

    <table mat-table [dataSource]="cobblerEvents">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
      </ng-container>

      <ng-container matColumnDef="statetime">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.statetime * 1000 | date: "long" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="readByWho">
        <th mat-header-cell *matHeaderCellDef>Read by</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.readByWho.length > 0">
            -
            <ng-container *ngFor="let item of element.readByWho">
              {{ item }} -
            </ng-container>
            -
          </ng-container>
          <ng-container *ngIf="element.readByWho.length === 0">
            -
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="showLogs(element.id, element.name)">
              <mat-icon>description</mat-icon>
              <span>Show Logs</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
