<mat-sidenav-container class="full-height">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-toolbar class="header">
      <mat-toolbar-row class="row">
        <mat-icon
          class="align-center"
          svgIcon="cobbler-logo"
          aria-hidden="true"
        ></mat-icon>
        <h2 class="logo">Cobbler</h2>
        <button
          mat-icon-button
          (click)="sidenav.close()"
          class="close-btn"
          aria-label="Close sidenav"
        >
          <mat-icon class="close-icon" aria-hidden="true">close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <h2 matSubheader>Configuration</h2>
      <a
        mat-list-item
        class="nav-link"
        aria-current="page"
        [routerLink]="['/items', 'distro']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">start</mat-icon>
        Distros
      </a>
      <a
        mat-list-item
        class="nav-link"
        aria-current="page"
        [routerLink]="['/items', 'profile']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">group</mat-icon>
        Profiles
      </a>
      <a
        mat-list-item
        class="nav-link"
        aria-current="page"
        [routerLink]="['/items', 'system']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true"
          >account_tree</mat-icon
        >
        Systems
      </a>
      <a
        mat-list-item
        class="nav-link"
        aria-current="page"
        [routerLink]="['/items', 'repository']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true"
          >folder_managed</mat-icon
        >
        Repos
      </a>
      <a
        mat-list-item
        class="nav-link"
        aria-current="page"
        [routerLink]="['/items', 'image']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">album</mat-icon>
        Images
      </a>
      <a
        mat-list-item
        class="nav-link"
        aria-current="page"
        [routerLink]="['/items', 'template']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">description</mat-icon>
        Templates
      </a>
      <a
        mat-list-item
        class="nav-link"
        aria-current="page"
        [routerLink]="['/items', 'snippet']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">code</mat-icon>
        Snippets
      </a>
      <a
        mat-list-item
        class="nav-link"
        aria-current="page"
        [routerLink]="['/items', 'management-class']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true"
          >dashboard_2_edit</mat-icon
        >
        Management Classes
      </a>
      <a
        mat-list-item
        class="nav-link"
        aria-current="page"
        [routerLink]="['/items', 'menu']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">menu_open</mat-icon>
        Menus
      </a>
      <a
        mat-list-item
        class="nav-link"
        aria-current="page"
        [routerLink]="['/settings']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">settings</mat-icon>
        Settings
      </a>
      <mat-divider class="divider"></mat-divider>
      <h2 matSubheader>Resources</h2>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/items', 'package']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">package_2</mat-icon>
        Packages
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/items', 'file']"
        [routerLinkActive]="'is-active'"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">draft</mat-icon>
        Files
      </a>
      <mat-divider class="divider"></mat-divider>
      <h2 matSubheader>Actions</h2>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/actions', 'import']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">album</mat-icon>
        Import DVD
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/actions', 'sync']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">sync</mat-icon>
        Sync
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/actions', 'reposync']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">folder_data</mat-icon>
        Reposync
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/actions', 'buildiso']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">album</mat-icon>
        Build ISO
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/actions', 'hardlink']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">link_2</mat-icon>
        Hardlink
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/actions', 'mkloaders']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">start</mat-icon>
        Mkloaders
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/actions', 'validate-autoinstalls']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">fact_check</mat-icon>
        Validate Autoinstalls
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/actions', 'replicate']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">file_copy</mat-icon>
        Replicate
      </a>
      <mat-divider class="divider"></mat-divider>
      <h2 matSubheader>Cobbler</h2>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/actions', 'check']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">refresh</mat-icon>
        Check
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/actions', 'status']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">bar_chart</mat-icon>
        Status
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/events']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true"
          >calendar_month</mat-icon
        >
        Events
      </a>
      <a
        mat-list-item
        class="nav-link"
        [routerLink]="['/signatures']"
        (click)="sidenav.close()"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">ink_pen</mat-icon>
        Signatures
      </a>
      <a
        mat-list-item
        class="nav-link"
        href="https://cobbler.readthedocs.io/en/latest/"
        target="_blank"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true"
          >article_person</mat-icon
        >
        Documentation
      </a>
      <a
        mat-list-item
        class="nav-link"
        href="https://gitter.im/cobbler/community"
        target="_blank"
      >
        <mat-icon class="sidenav-icon" aria-hidden="true">live_help</mat-icon>
        Online Help Chat
      </a>
      <mat-divider class="divider"></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    @if (router.url !== "/login") {
      <cobbler-navbar (toggleSidenav)="sidenav.toggle()"></cobbler-navbar>
    }

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
