/*  SIDE MENU  */

.sidebar {
  z-index: 15;
  max-width: 20em;
  height: 100%;
}

.sidebar-contents {
  background: black;
}

.sidebar-title {
  color: white;
  font-size: 24px;
  padding-left: 10px;
  padding-top: 5px;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 1px solid #525352;
}

.sidebar-links {
  font-size: 14px;
  margin: 0;
  padding-left: 2px;
}

.sidebar a,
.sidebar-title a:hover {
  color: white;
  background: black;
}

.sidebar-links a:hover {
  background: #f6f8f8;
  color: black;
}

.dropdown-toggle[aria-expanded="true"]:after {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.is-active {
  border-left: 10px solid #007bff;
  border-right: 10px solid #007bff;
  border-top: 2px solid #007bff94;
  border-bottom: 2px solid #007bff94;
}

/* SYMBOLS FOR LINKS:
    <b class="arrows">&#187;</b> double right arrows
     <b class="rec-arrow">&#8620;</b> loopy arrow
    <b class="gear">&#9881;</b>  gear
    &#8646;   Swap, left right arrows

*/

.symbol {
  font-size: 1.5em;
  color: #01de00;
  padding-right: 3px;

}
