// Activate modern Angular Material theming
// https://v17.material.angular.dev/guide/theming
@use "@angular/material" as mat;

@include mat.core();

// default theme
$light-theme-config: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($light-theme-config);
}

.dark-theme {
  $dark-theme-config: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
      ),
    )
  );

  @include mat.all-component-themes($dark-theme-config);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-height {
  width: 100%;
  height: 100%;
}

.mat-mdc-icon,
.material-icons {
  font-family: "Material Symbols Outlined" !important;
}

.cobbler-field-row {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;

  > *:first-child {
    flex: 1;
  }
}
