html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-height {
  width: 100%;
  height: 100%;
}

.mat-mdc-icon,
.material-icons {
  font-family: "Material Symbols Outlined" !important;
}

.cobbler-field-row {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;

  > *:first-child {
    flex: 1;
  }
}
