/* CSS for COBBLER Angular front end */
/* bootstrap installed via CLI <npm install bootstrap>*/
/* Web UI is for use/compatible only on desktop computers */
@import "~bootstrap/dist/css/bootstrap.css";

:host {
  /*
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", sans-serif,
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        */
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background: #e7e7e7;
}

.low-contrast {
  background: #f6f7f5;
}

#datascreen {
  background: #e7e7e7;
}

.gray-contrast {
  background: #e7e7e7;
}

/* TABLES - UL/LI*/
li:hover {
  background: white;
  border-bottom: 1px solid blue;
}


tr:nth-child(even):hover {
  background: white;
  border-bottom: 1px solid blue;
}

tr:nth-child(odd) {
  background: #dbdce1;
}

tr:nth-child(even) {
  background: #e7e7e7;

}


tr:hover {
  background: white;
  border-bottom: 1px solid blue;
}

.table-bordered {
  border: 8px solid #5a5b5a;
}

/* COMPONENTS */


app-root, app-events, app-files, appManage, app-settings, app-templates, build-iso, check-sys, distros, images,
import-dvd, management-classes, packages, profiles, repos, repo-sync, snippets, sync, systems {
  font-family: 'Raleway', sans-serif;
  background: transparent;
  padding: 20px;
}


/*  NAVBAR   Bootstrap overrides: */
.user_logged {
  color: whitesmoke;
}

.fa-user-cog {
  color: white;
  background: white;

}

.hero-small {
  height: 70px;
}

.user-icon {
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.cobbler-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 30;
  margin: 0;
  width: 100%;
  background: black;
  padding: 0 20px 0 20px;
}

/*scss override for nav-link*/
.nav-link {
  padding: 0.5rem 2.25rem;
}

/* FORMS */

form {
  padding: 10px;
}

/* BODY main elements */


footer {
  background-color: black;
  color: white;

}

/* GENERAL - All components */
.title {
  color: darkblue;
  width: 100%;
  border-bottom: 2px solid silver;
}

/* custom sizing/box placement */
.flex-center-all {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.full {
  width: 100%;
  height: 100%;
  text-align: center;
}

.column {
  flex-direction: column;
}


/* Bootstrap OVERRIDES */

.btn[disabled] {
  color: black;
  background-color: lightgrey;
}

.bottom {
  bottom: 0;
  font-size: 1.5em;
}

.super-impose {
  font-size: 3em;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 10px black;
  z-index: 10;

}


/* Used in modifing layout on local during development*/
.bottom {
  bottom: 0;
  position: absolute;
}

.dev-link {
  bottom: 0;
  margin: 20px;
  background-color: transparent;
  text-shadow: 0 0 3px white;
}


/* stylesheet for appManage Components */


.right-column {
  margin-top: 100px;
  margin-left: 25%;
  background: #e7e7e7;
  height: 100vh;
  margin-right: 10px;
}


.blue-attn {
  color: #143680;

}

#datascreen {

}

