<h1 i18n="@@common.view-autoinstall.title">
  Rendered auto-installation template
</h1>

<p i18n="@@common.view-autoinstall.description">
  This is the rendered template for {{ name }}.
</p>

<form class="full-width full-height" (window:resize)="triggerResize()">
  <mat-form-field class="full-width full-height">
    <mat-label i18n="@@common.view-autoinstall.label.content"
      >Auto-installation content</mat-label
    >
    <textarea
      matInput
      [formControl]="autoinstallFormControl"
      readonly
      class="content"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="10"
      cdkAutosizeMaxRows="40"
    ></textarea>
  </mat-form-field>
</form>

<div>
  <button
    mat-fab
    class="fab-positioning"
    color="primary"
    matTooltip="Back to {{ name }}"
    i18n-matTooltip="@@common.view-autoinstall.tooltip.back"
    (click)="backToItem()"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
