<footer class="page-footer font-small bg-light fixed-bottom">
    <div id="footer-top"> <!-- user customize section --> </div>
    <div class="text-center mb-3">Cobbler Web {{version}}</div>
    <div class="container-fluid text-center">
      <div class="row">
        <!-- Grid column -->
        <div class="col-md">
            <!-- Links -->
            <h6 class="text-uppercase">Links</h6>
            <ul class="list-unstyled">
              <li><a href="https://cobbler.readthedocs.io/">Online Documentation</a></li>
              <li><a href="https://gitter.im/cobbler/community">Online Help Chat</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div id="footer-bottom"> <!-- user customize section --> </div>
</footer>
