<div class="title-table">
  <div class="title-row">
    <h1 class="title title-cell-text">Name: {{ name }}</h1>
    <span class="title-cell-button">
      <button
        mat-icon-button
        [disabled]="isEditMode"
        (click)="this.refreshData()"
        matTooltip="Refresh data"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </span>
    <span class="title-cell-button">
      <button
        mat-icon-button
        [disabled]="isEditMode"
        (click)="this.copyMenu(this.menu.uid, this.menu.name)"
        matTooltip="Copy"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </span>
    <span class="title-cell-button">
      <button
        mat-icon-button
        [disabled]="isEditMode"
        (click)="this.showAsRendered()"
        matTooltip="Show rendered data"
      >
        <mat-icon>info</mat-icon>
      </button>
    </span>
    <span class="title-cell-button">
      <button
        mat-icon-button
        [disabled]="isEditMode"
        (click)="this.editMenu()"
        matTooltip="Edit"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </span>
    <span class="title-cell-button">
      <button
        mat-icon-button
        [disabled]="isEditMode"
        (click)="this.removeMenu()"
        matTooltip="Delete"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </span>
    @if (isEditMode) {
      <span class="title-cell-button">
        <button
          mat-icon-button
          (click)="this.cancelEdit()"
          matTooltip="Cancel edit"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </span>
    }
  </div>
</div>

<form class="form-replicate" [formGroup]="menuReadonlyFormGroup">
  <mat-form-field class="form-field-full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label>UID</mat-label>
    <input matInput type="text" formControlName="uid" />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label>Last modified time</mat-label>
    <input matInput type="text" formControlName="mtime" />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label>Creation time</mat-label>
    <input matInput type="text" formControlName="ctime" />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label>Depth</mat-label>
    <input matInput type="number" formControlName="depth" />
  </mat-form-field>
  <mat-checkbox class="form-field-full-width" formControlName="is_subobject">
    Is Subobject?
  </mat-checkbox>
</form>

<form class="form-replicate" [formGroup]="menuFormGroup">
  <mat-form-field class="form-field-full-width">
    <mat-label>Comment</mat-label>
    <input matInput type="text" formControlName="comment" />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label>Display Name</mat-label>
    <input matInput type="text" formControlName="display_name" />
  </mat-form-field>
  @if (isEditMode) {
    <button mat-button (click)="saveMenu()">Save Menu</button>
  }
</form>
