<div class="right-column" id="dataScreen">
  <router-outlet></router-outlet>
  <div class="Sync-div">
    <h1 class="title" i18n="@@action.sync.title">SYNC</h1>
    <h2 i18n="@@action.sync.full-sync.heading">Full Sync</h2>
    <section class="sync-section" [formGroup]="fullSync">
      <p>
        <mat-checkbox
          formControlName="fullSyncDhcp"
          i18n="@@action.sync.full-sync.dhcp"
          >DHCP</mat-checkbox
        >
        <mat-checkbox
          formControlName="fullSyncDns"
          i18n="@@action.sync.full-sync.dns"
          >DNS</mat-checkbox
        >
        <mat-checkbox
          formControlName="fullSyncVerbose"
          i18n="@@action.sync.full-sync.verbose"
          >Verbose</mat-checkbox
        >
      </p>
      <button
        mat-button
        (click)="syncFullSubmit()"
        i18n="@@action.sync.full-sync.sync-button"
      >
        Sync
      </button>
    </section>
    <h2 i18n="@@action.sync.systems-sync.heading">Systems Sync</h2>
    <form class="systems-sync-section" [formGroup]="systemsSync">
      <button mat-button (click)="addNewKeyValueFG()">
        @if (keyValueArrayFGControls.length === 0) {
          <ng-container i18n="@@action.sync.systems-sync.sync-specific"
            >Sync specific Systems</ng-container
          >
        }
        @if (keyValueArrayFGControls.length > 0) {
          <ng-container i18n="@@action.sync.systems-sync.add-system"
            >Add system</ng-container
          >
        }
      </button>
      @for (fg of keyValueArrayFGControls; track fg; let i = $index) {
        <div formArrayName="keyValue">
          <div [formGroup]="fg">
            <mat-form-field>
              <span matTextPrefix>{{ i + 1 }}.&nbsp;</span>
              <input
                matInput
                required
                type="text"
                formControlName="systemName"
                placeholder="System Name"
                i18n-placeholder="
                  @@action.sync.systems-sync.placeholder.system-name"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="removeNewKeyValueFG(i)"
              >
                <mat-icon>remove</mat-icon>
              </button>
              @if (
                systemsSync.controls.keyValue.controls[i].hasError("required")
              ) {
                <mat-error
                  i18n="@@action.sync.systems-sync.error.system-name-required"
                  >System name is <strong>required</strong></mat-error
                >
              }
            </mat-form-field>
          </div>
        </div>
      } @empty {
        <p i18n="@@action.sync.systems-sync.syncing-all">Syncing All Systems</p>
      }
      <mat-checkbox
        formControlName="systemsSyncVerbose"
        i18n="@@action.sync.systems-sync.verbose"
        >Verbose</mat-checkbox
      >
    </form>
    <button
      mat-button
      (click)="syncSystemsSubmit()"
      i18n="@@action.sync.systems-sync.sync-button"
    >
      Sync
    </button>
  </div>
</div>
