<div class="right-column" id="dataScreen">
  <div class="Repos-div">
    <router-outlet></router-outlet>
    <h1 class="title">REPOS</h1>
    <div>
      <button mat-raised-button class="primary">Save</button>
      <button mat-raised-button class="primary">Cancel</button>
    </div>
    <form class="profiles-form">
      @for(item of data;track item){
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ item[3] }}</mat-label>
          <input
            matInput
            class="form-control"
            id="{{ item[0] }}"
            value="{{ item[1] }} {{ item[7] }}"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
      }
    </form>
  </div>
</div>
