/*if body is inherited in display of XML, it will be not be visible*/
body {
  color: white;
}

#fullXML {
  color: black;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
