<mat-card appearance="outlined" class="form-field-full-widths">
  <mat-card-header class="card-header">
    <mat-card-title>{{ label }}</mat-card-title>
    @if (hint) {
      <cobbler-help-button [hint]="hint" />
    }
  </mat-card-header>
  <mat-form-field class="form-field">
    <mat-chip-grid
      #chipGrid
      [disabled]="isDisabled"
      [attr.aria-label]="label + ' selection'"
    >
      @for (v of value; track v) {
        <mat-chip-row (removed)="remove(v)" [editable]="false">
          @if (itemRoute && itemRoute.length > 0) {
            <a matChipAction [routerLink]="[...itemRoute, labelForValue(v)]">{{
              labelForValue(v)
            }}</a>
          } @else {
            {{ labelForValue(v) }}
          }
          <button
            matChipRemove
            [attr.aria-label]="'remove ' + labelForValue(v)"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input
        [placeholder]="label"
        [formControl]="inputControl"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="[]"
        (matChipInputTokenEnd)="inputTokenEnd($event)"
      />
    </mat-chip-grid>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      @for (option of filteredOptions; track optionValue(option)) {
        <mat-option [value]="optionValue(option)">{{
          optionLabel(option)
        }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</mat-card>
