<h2 mat-dialog-title i18n="@@dialog.text-input.title">Add new Option:</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label i18n="@@dialog.text-input.label.new-option"
      >New Option</mat-label
    >
    <input matInput [(ngModel)]="data" cdkFocusInitial />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="buttons">
  <button
    mat-button
    (click)="onNoClick()"
    i18n="@@dialog.text-input.button.no-thanks"
  >
    No Thanks
  </button>
  <button
    mat-button
    [mat-dialog-close]="onYesClick()"
    i18n="@@dialog.text-input.button.ok"
  >
    Ok
  </button>
</mat-dialog-actions>
