.cobbler-orange {
  color: #fca527;
}

.cobbler-aqua {
  color: #4db6a2;
}

.cobbler-green {
  color: #58a600;
}

/*  TABLES */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tb-head {
  background: #62400f;
  color: white;
}

.td-lrg {
  font-size: 1em;
}

.btn-secondary {
  margin: 4px;
}

.first-crud-btn {
  margin-left: 30%;
}

tr:hover {
  background-image: linear-gradient(45deg, #68f5db2b, transparent, #68f5db2b);
  border-bottom: 3px solid #62400f;
}

/*  FORMS */
.form-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
}

.form-group:nth-child(even) {
  background: #f6f8f8;
}

label {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  margin-bottom: 0;
}

/* GENERAL */
.title {
  color: darkblue;
  width: 100%;
  border-bottom: 2px solid silver;
}
