<h1 class="title" i18n="@@action.import-dvd.title">IMPORT DVD</h1>

<form class="form-replicate" [formGroup]="importFormGroup">
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.import-dvd.label.path">Path</mat-label>
    <input
      matInput
      type="text"
      required
      formControlName="path"
      placeholder="/mnt/cobbler-mounted/leap-15-4/"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.import-dvd.label.name">Name</mat-label>
    <input
      matInput
      type="text"
      required
      formControlName="name"
      placeholder="my-distro"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.import-dvd.label.available-as"
      >Available as</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="available_as"
      placeholder="my-distro"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.import-dvd.label.autoinstall-file"
      >Autoinstallation file</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="autoinstall_file"
      placeholder="autoyast.xml"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.import-dvd.label.rsync-flags"
      >rsync flags</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="rsync_flags"
      placeholder="-v"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.import-dvd.label.architecture"
      >Architecture</mat-label
    >
    <input matInput type="text" formControlName="arch" placeholder="x86_64" />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.import-dvd.label.os-breed"
      >Operating System Breed</mat-label
    >
    <input matInput type="text" formControlName="breed" placeholder="suse" />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.import-dvd.label.os-version"
      >Operating System Version</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="os_version"
      placeholder="15.4"
    />
  </mat-form-field>
  <button mat-button (click)="runImport()" i18n="@@button.run">Run</button>
</form>
