/*  TABLES */
.tb-head {
  background: black;
  color: white;
}

.td-lrg {
  font-size: 1em;
}

.btn-secondary {
  margin: 4px;
}

.first-crud-btn {
  margin-left: 30%;
}

/*  FORMS */
.form-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
}

.form-group:nth-child(even) {
  background: #f6f8f8;
}

label {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  margin-bottom: 0;
}

/*  Tab contents / activities */
#editDistro {

  position: relative;
  z-index: 10;
  margin-top: -100px;
}

/* GENERAL */
.title {
  color: darkblue;
  width: 100%;
  border-bottom: 2px solid silver;
}

.Distros-div {
}
