<router-outlet></router-outlet>
<div class="AppFiles-div">
  <div class="right-column" id="dataScreen">
    <h1 class="title">FILES</h1>
    <div>
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="primary">Cancel</button>
    </div>
    <form class="profiles-form" [formGroup]="filesForm">
      @for(item of data;track item){
      <mat-form-field>
        <mat-label>{{ item[0] }}</mat-label>
        <input
          matInput
          class="form-control"
          id="{{ item[0] }}"
          value="{{ item[1] }} {{ item[7] }}"
          autocomplete="off"
        />
      </mat-form-field>
      }
    </form>
  </div>
</div>
