<h1 mat-dialog-title>Create Image</h1>
<div mat-dialog-content>
  <form [formGroup]="menuCreateFormGroup">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        required
        cdkFocusInitial
        type="text"
        formControlName="name"
      />
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="createMenu()">Save Image</button>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
  </div>
</div>
