<div class="col-md-8 mx-auto">
    <h2 class="text-uppercase mb-4">Distros</h2>
    <div class="mb-2">
        <a class="btn btn-info btn-sm" href="/distros/create">Create Distro</a>
        <!-- batch actions -->
        <!-- filter -->
    </div>
    <!-- We use table because div cannot easily have striped / hovered rows -->
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr class="d-flex">
                    <th class="col-7">Name</th>
                    <th class="col-5">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="distros">
                <!-- distros here -->
                <tr class="d-flex" *ngFor="let dist of distros">
                    <td class="col-7">{{dist.name}}</td>
                    <td class="col-5">
                        <a class="btn btn-info btn-sm m-1" href="/distros/edit/{{dist.id}}">Edit</a>
                        <a class="btn btn-info btn-sm m-1" href="/distros/copy/{{dist.id}}">Copy</a>
                        <a class="btn btn-info btn-sm m-1" href="/distros/rename/{{dist.id}}">Rename</a>
                        <a class="btn btn-info btn-sm m-1" href="/distros/delete/{{dist.id}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
