<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ label }}</mat-card-title>
  </mat-card-header>
  @if (this.keyValueOptions.size === 0) {
    <p style="text-align: center" i18n="@@common.key-value-editor.empty">
      Empty list of options
    </p>
  } @else {
    <div
      cdkDropList
      [cdkDropListDisabled]="isDisabled"
      class="example-list"
      [formGroup]="keyOrderFormGroup"
      (cdkDropListDropped)="drop($event)"
    >
      @for (key of keyOrder; track key) {
        <form class="example-box" formGroupName="{{ key }}FormGroup">
          <mat-form-field>
            <input
              matInput
              formControlName="key"
              placeholder="Key"
              i18n-placeholder="@@common.key-value-editor.placeholder.key"
              value="{{ key }}"
            />
          </mat-form-field>
          &nbsp;=&nbsp;
          <mat-form-field>
            <input
              matInput
              formControlName="value"
              placeholder="Value"
              i18n-placeholder="@@common.key-value-editor.placeholder.value"
              value="{{ keyValueOptions.get(key) }}"
            />
          </mat-form-field>
          <button
            mat-icon-button
            [disabled]="isDisabled"
            (click)="deleteKey(key)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button [disabled]="isDisabled" cdkDrag>
            <mat-icon>menu</mat-icon>
          </button>
        </form>
      }
    </div>
  }
  <button
    mat-button
    [disabled]="isDisabled"
    (click)="addOption()"
    i18n="@@common.key-value-editor.add-option"
  >
    Add option
  </button>
</mat-card>
