.filter-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filter-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 400px;
}

.delete-button {
  margin-left: 37px;
  color: rgba(0, 0, 0, 0.774);
  font-size: 12px;
}

table.mat-mdc-table {
  border-radius: 14px;
  overflow: hidden;
  background-color: white;
}

.title-table {
  display: table;
  width: 100%;
}

// Table cell
.mat-mdc-header-cell {
  border-bottom: 1px solid #cbcbcb;
}

.mat-mdc-cell {
  border-bottom: 1px solid #cbcbcb;
}

.title-row {
  display: table-cell;
  width: 100%;
}

.title-cell-text {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.title-cell-button {
  display: table-cell;
}

.table {
  width: 100%;
}

:host-context(.dark-theme) .mat-mdc-table {
  background-color: #1a1b1f;
}

:host-context(.dark-theme) a {
  color: white;
}

:host-context(.dark-theme) .mat-mdc-header-cell {
  border-bottom: 1px solid #555555;
}

:host-context(.dark-theme) .mat-mdc-cell {
  border-bottom: 1px solid #555555;
}
