<div class="full-height login">
  <form
    class="form-login row"
    [formGroup]="login_form"
    (ngSubmit)="Authorize()"
  >
    <h1>Cobbler</h1>

    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Server</mat-label>
        <input
          formControlName="server"
          matInput
          placeholder="Enter server URL"
        />
        @if(server.touched && server.invalid){
        <mat-error>&#9888; {{ errMsgServer() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input
          formControlName="username"
          matInput
          placeholder="Enter username"
        />
        @if(username.touched && username.invalid){
        <mat-error>&#9888; {{ errMsgUser() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          formControlName="password"
          matInput
          placeholder="Password"
        />@if(password.touched && password.invalid){
        <mat-error>&#9888; {{ errMsgPassword() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-group" tabindex="3">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="login_form.invalid"
      >
        Log in
      </button>
    </div>
    @if(message){
    <div class="alert alert-warning">
      {{ message }}
    </div>
    }
  </form>
</div>
