.form-login {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
}

.row {
  width: auto;
  min-width: 250px;
}

.login {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

