.title-table {
  display: table;
  width: 100%;
}

.title-row {
  display: table-cell;
  width: 100%;
}

.title-cell-text {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.title-cell-button {
  display: table-cell;
}

.form-replicate {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.form-field-full-width {
  width: 100%;
}

:host-context(.dark-theme) .mat-mdc-table {
  background-color: #1a1b1f;
}

:host-context(.dark-theme) a {
  color: white;
}

:host-context(.dark-theme) .link-icon {
  color: rgba(255, 255, 255, 0.372);
}
