<h1 mat-dialog-title i18n="@@profile-group.create.title">
  Create Profile Group
</h1>
<div mat-dialog-content>
  <form [formGroup]="profileGroupCreateFormGroup">
    <mat-form-field>
      <mat-label i18n="@@profile-group.create.field.name">Name</mat-label>
      <input
        matInput
        required
        cdkFocusInitial
        type="text"
        formControlName="name"
      />
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button
      mat-button
      data-testid="item-create-submit"
      (click)="createProfileGroup()"
      i18n="@@profile-group.create.save-button"
    >
      Save Profile Group
    </button>
    <button mat-button [mat-dialog-close]="false" i18n="@@button.cancel">
      Cancel
    </button>
  </div>
</div>
