<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="toggleSidenav.emit()"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <a [routerLink]="['/manage']" title="Back to Welcome Screen.">
      <mat-icon
        class="align-center"
        svgIcon="cobbler-logo"
        aria-hidden="false"
        aria-label="Cobbler Logo"
      ></mat-icon>
      <span>Cobbler</span>
    </a>
  </div>
  <span class="navbar-spacer"></span>
  <div>
    @if (islogged) {
      <button mat-button [matMenuTriggerFor]="profileMenu">
        <mat-icon class="profile">account_circle</mat-icon> {{ authO.username }}
      </button>
    } @else {
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon class="profile">account_circle</mat-icon>
      </button>
    }
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item matTooltip="{{ authO.server }}">
        <mat-icon>dns</mat-icon>
        {{ cobbler_server }}
      </button>
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        {{ cobbler_version }}
      </button>
      <button mat-menu-item (click)="redirectToAccountPreferences()">
        <mat-icon>manage_accounts</mat-icon>
        Preferences
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="Login"> logout </mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<xng-breadcrumb [separator]="separatorRef">
  <ng-template xngBreadcrumbItem let-breadcrumb>
    <a mat-button [routerLink]="breadcrumb.routeLink">{{ breadcrumb }}</a>
  </ng-template>
  <ng-template #separatorRef>
    <mat-icon class="breadcrumb-separator">chevron_right</mat-icon>
  </ng-template>
</xng-breadcrumb>
