.navbar-spacer {
  flex: 1 1 auto;
}

.icon-display {
  height: 100%;
}

.pad {
  padding-left: 5px;
  padding-right: 5px;
}

.align-center {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: inherit;
}
