.navbar-spacer {
  flex: 1 1 auto;
}

.pad {
  padding-left: 5px;
  padding-right: 5px;
}

.align-center {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* profile icon */
.profile-icon {
  font-size: 22px;
  width: 30px;
  height: 30px;
  color: white !important;
}

.menu-icon {
  font-size: 22px;
  width: 30px;
  height: 30px;
  color: white !important;
}

.breadcrumb-separator {
  font-size: 20px;
  height: 18px;
  width: 18px;
  color: rgba(0, 0, 0, 0.445);
}

/* breadcrumb container */
xng-breadcrumb {
  display: block;
  padding: 5px 20px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  &:has(.xng-breadcrumb-list:empty) {
    border-bottom: none;
    padding: 0;
  }
}

.xng-breadcrumb-link {
  color: black;
  text-decoration: none;
}

::ng-deep xng-breadcrumb a {
  text-decoration: none !important;
  color: rgb(0, 0, 0) !important;
  font-family: inherit !important;
  font-size: 12px !important;
}

/* breadcrumb in dark mode */
/* xng-breadcrumb dependency does not support theming which is why we change it via :host-context */
:host-context(.dark-theme) xng-breadcrumb {
  background-color: #1a1b1f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

:host-context(.dark-theme) .breadcrumb-separator {
  color: rgba(255, 255, 255, 0.445);
}

:host-context(.dark-theme) ::ng-deep xng-breadcrumb a {
  color: rgba(255, 255, 255, 0.87) !important;
}
