.navbar-spacer {
  flex: 1 1 auto;
}

.pad {
  padding-left: 5px;
  padding-right: 5px;
}

.align-center {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* profile icon */
.profile {
  font-size: 22px;
  width: 30px;
  height: 30px;
}

.breadcrumb-separator {
  font-size: 20px;
  height: 18px;
  width: 18px;
  color: rgba(0, 0, 0, 0.445);
}

/* breadcrumb container */
xng-breadcrumb {
  display: block;
  padding: 5px 20px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.xng-breadcrumb-link {
  color: black;
  text-decoration: none;
}

::ng-deep xng-breadcrumb a {
  text-decoration: none !important;
  color: rgb(0, 0, 0) !important;
  font-family: inherit !important;
  font-size: 12px !important;
}
