<div class="title-table">
  <div class="title-row">
    <h1 class="title title-cell-text" i18n="@@item.header.name">
      Name: {{ name }}
    </h1>
    <span class="title-cell-button">
      <button
        mat-icon-button
        [disabled]="isEditMode"
        (click)="this.refreshData()"
        matTooltip="Refresh data"
        i18n-matTooltip="@@button.refresh.tooltip"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </span>
    <span class="title-cell-button">
      <button
        mat-icon-button
        [disabled]="isEditMode"
        (click)="this.copyTemplate()"
        matTooltip="Copy"
        i18n-matTooltip="@@button.copy.tooltip"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </span>
    <span class="title-cell-button">
      <button
        mat-icon-button
        [disabled]="isEditMode"
        (click)="this.editTemplate()"
        matTooltip="Edit"
        i18n-matTooltip="@@button.edit.tooltip"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </span>
    <span class="title-cell-button">
      <button
        mat-icon-button
        [disabled]="isEditMode"
        (click)="this.removeTemplate()"
        matTooltip="Delete"
        i18n-matTooltip="@@button.delete.tooltip"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </span>
    @if (isEditMode) {
      <span class="title-cell-button">
        <button
          mat-icon-button
          (click)="this.cancelEdit()"
          matTooltip="Cancel edit"
          i18n-matTooltip="@@button.cancel-edit.tooltip"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </span>
    }
  </div>
</div>

<form class="form-replicate" [formGroup]="templateFormGroup">
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@template.edit.field.content.label"
      >Template Content</mat-label
    >
    <textarea matInput formControlName="content"></textarea>
  </mat-form-field>
  @if (isEditMode) {
    <button
      mat-button
      (click)="saveTemplate()"
      i18n="@@template.edit.button.save"
    >
      Save Template
    </button>
  }
</form>
