<div class="title-table">
  <div class="title-row">
    <h1 class="title title-cell-text">PACKAGES</h1>
    <span class="title-cell-button">
      <button
        mat-icon-button
        (click)="this.addPackage()"
        matTooltip="Add Package"
      >
        <mat-icon>add</mat-icon>
      </button></span
    >
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Installer Column -->
  <ng-container matColumnDef="installer">
    <th mat-header-cell *matHeaderCellDef>Installer</th>
    <td mat-cell *matCellDef="let element">{{ element.installer }}</td>
  </ng-container>

  <!-- Version Column -->
  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef>Version</th>
    <td mat-cell *matCellDef="let element">{{ element.version }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showPackage(element.uid, element.name)">
          <mat-icon>visibility</mat-icon>
          <span>Show details</span>
        </button>
        <button
          mat-menu-item
          (click)="renamePackage(element.uid, element.name)"
        >
          <mat-icon>edit</mat-icon>
          <span>Rename</span>
        </button>
        <button
          mat-menu-item
          (click)="deletePackage(element.uid, element.name)"
        >
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
