<div class="title-table">
  <div class="title-row">
    <h1 class="title title-cell-text">SNIPPETS</h1>
    <span class="title-cell-button">
      <button
        mat-icon-button
        (click)="this.addSnippet()"
        matTooltip="Add Snippet"
      >
        <mat-icon>add</mat-icon>
      </button></span
    >
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showSnippet(element)">
          <mat-icon>visibility</mat-icon>
          <span>Show details</span>
        </button>
        <button mat-menu-item (click)="renameSnippet(element)">
          <mat-icon>edit</mat-icon>
          <span>Rename</span>
        </button>
        <button mat-menu-item (click)="deleteSnippet(element)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
