<h1 mat-dialog-title i18n="@@file.create.title">Create Image</h1>
<div mat-dialog-content>
  <form [formGroup]="fileCreateFormGroup">
    <mat-form-field>
      <mat-label i18n="@@file.create.field.name">Name</mat-label>
      <input
        matInput
        required
        cdkFocusInitial
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@file.create.field.path">Path</mat-label>
      <input matInput required type="text" formControlName="path" />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@file.create.field.owner">Owner</mat-label>
      <input matInput required type="text" formControlName="owner" />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@file.create.field.group">Group</mat-label>
      <input matInput required type="text" formControlName="group" />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@file.create.field.mode">Mode</mat-label>
      <input matInput required type="text" formControlName="mode" />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@file.create.field.template">Template</mat-label>
      <input matInput required type="text" formControlName="template" />
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="createFile()" i18n="@@file.create.save-button">
      Save Image
    </button>
    <button mat-button [mat-dialog-close]="false" i18n="@@button.cancel">
      Cancel
    </button>
  </div>
</div>
