<h1 mat-dialog-title i18n="@@network-interface.create.title">
  Create Network Interface
</h1>
<div mat-dialog-content>
  <form [formGroup]="networkInterfaceCreateFormGroup">
    <mat-form-field>
      <mat-label i18n="@@network-interface.create.field.name">Name</mat-label>
      <input
        matInput
        required
        cdkFocusInitial
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@network-interface.create.field.mac-address"
        >MAC Address</mat-label
      >
      <input matInput type="text" formControlName="mac_address" />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@network-interface.create.field.ipv4-address"
        >IPv4 Address</mat-label
      >
      <input matInput type="text" formControlName="ipv4_address" />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@network-interface.create.field.ipv6-address"
        >IPv6 Address</mat-label
      >
      <input matInput type="text" formControlName="ipv6_address" />
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button
      mat-button
      (click)="createNetworkInterface()"
      i18n="@@network-interface.create.save-button"
    >
      Save Network Interface
    </button>
    <button mat-button [mat-dialog-close]="false" i18n="@@button.cancel">
      Cancel
    </button>
  </div>
</div>
