/*  TABLES */

.tb-head {
  background: black;
  color: white;
}

.td-lrg {
  font-size: 1em;
}

.btn-secondary {
  margin: 4px;
}

.first-crud-btn {
  margin-left: 30%;
}

tr:hover {
  background: white;
  border-bottom: 1px solid black;
}

.Settings-div {
}
