<h1 mat-dialog-title>Create System</h1>
<div mat-dialog-content>
  <form [formGroup]="systemCreateFormGroup">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        required
        cdkFocusInitial
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Profile</mat-label>
      <input matInput required type="text" formControlName="profile" />
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="createSystem()">Save System</button>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
  </div>
</div>
