<h1 mat-dialog-title i18n="@@management-class.create.title">Create Image</h1>
<div mat-dialog-content>
  <form [formGroup]="managementClassCreateFormGroup">
    <mat-form-field>
      <mat-label i18n="@@management-class.create.field.name">Name</mat-label>
      <input
        matInput
        required
        cdkFocusInitial
        type="text"
        formControlName="name"
      />
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button
      mat-button
      (click)="createManagementClass()"
      i18n="@@management-class.create.save-button"
    >
      Save Image
    </button>
    <button mat-button [mat-dialog-close]="false" i18n="@@button.cancel">
      Cancel
    </button>
  </div>
</div>
