.Welcome-div {
  padding: 50px 20px 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 60%;
  height: 70%;
  background: inherit;
}

.welcome {
  font-size: 2em;
  letter-spacing: 2px;
}

#datascreen {
  height: 100vh;
  margin-left: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  width: 100%;
  background-color: #d3efdf87;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background: black;
}

li {
  display: flex;
  align-content: center;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  list-style-type: none;
  color: white;
  transform: scale(0.9);
  border: 2px solid black;
}

li:nth-child(even) {
  background-color: #6d706d85;
}

li:hover {
  background: white;
  color: black;
  transform: scale(1);
}

/* Current-obj - used by all components*/
current-obj {
  z-index: 30;
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
