/*  Navbar z-index = 30*/
.current-object {
  position: absolute;
  /* z-index: 35; */
  margin-left: 40%;
  top: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #131313;
  z-index: 3;
  box-shadow: -2px 0 5px grey;
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
}

h2 {
  color: black;
  margin-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.square {
  width: 30px;
  height: 30px;
  background: #55608038;
}

.square-left {
  background: white;
  width: 20px;
  height: 20px;
  z-index: 3;
  margin-left: -10px;
}

.diamond {
  transform: rotate(45deg);
}
