<h1 class="title" i18n="@@action.build-iso.title">BUILD ISO IMAGES</h1>

<form class="form-replicate" [formGroup]="buildisoFormGroup">
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.build-iso.label.distro">Distro</mat-label>
    <input
      matInput
      required
      type="text"
      formControlName="distro"
      placeholder="leap-x86_64"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.build-iso.label.iso">ISO</mat-label>
    <input
      matInput
      type="text"
      formControlName="iso"
      placeholder="/var/lib/cobbler/isos/autoinstall.iso"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.build-iso.label.profiles">Profiles</mat-label>
    <input matInput type="text" formControlName="profiles" placeholder="" />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.build-iso.label.systems">Systems</mat-label>
    <input matInput type="text" formControlName="systems" placeholder="" />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.build-iso.label.buildiso-directory"
      >Buildiso directory</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="buildisodir"
      placeholder="/var/cache/cobbler/buildiso"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.build-iso.label.source">Source</mat-label>
    <input
      matInput
      type="text"
      formControlName="source"
      placeholder="/var/lib/cobbler/iso-source/leap-x86_64"
    />
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label i18n="@@action.build-iso.label.xorrisofs-options"
      >xorrisofs Options</mat-label
    >
    <input
      matInput
      type="text"
      formControlName="xorrisofsOpts"
      placeholder="-v"
    />
  </mat-form-field>
  <mat-checkbox
    class="form-field-full-width"
    formControlName="standalone"
    i18n="@@action.build-iso.standalone"
    >Standalone</mat-checkbox
  >
  <mat-checkbox
    class="form-field-full-width"
    formControlName="airgapped"
    i18n="@@action.build-iso.airgapped"
    >Airgapped</mat-checkbox
  >
  <mat-checkbox
    class="form-field-full-width"
    formControlName="excludeDNS"
    i18n="@@action.build-iso.exclude-dns"
    >Exclude DNS</mat-checkbox
  >
  <button mat-button (click)="runBuildiso()" i18n="@@button.run">Run</button>
</form>
