<h1 mat-dialog-title>Rename {{ data.itemType }}</h1>
<mat-dialog-content>
  <mat-form-field class="form-field-full-width">
    <mat-label>Old name</mat-label>
    <input matInput readonly value="{{ data.itemName }}" />
  </mat-form-field>

  <mat-form-field class="form-field-full-width">
    <mat-label>New name</mat-label>
    <input
      matInput
      [(ngModel)]="dialogCloseSignal"
      cdkFocusInitial
      placeholder="New name"
    />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="dialogCloseSignal()">Rename</button>
</mat-dialog-actions>
