<h1 mat-dialog-title>Create Distribution</h1>
<div mat-dialog-content>
  <form [formGroup]="distroCreateFormGroup">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        required
        cdkFocusInitial
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kernel</mat-label>
      <input matInput required type="text" formControlName="kernel" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Initrd</mat-label>
      <input matInput required type="text" formControlName="initrd" />
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button (click)="createDistro()">Save Distribution</button>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
  </div>
</div>
