<h1 mat-dialog-title i18n="@@distro.create.title">Create Distribution</h1>
<div mat-dialog-content>
  <form [formGroup]="distroCreateFormGroup">
    <mat-form-field>
      <mat-label i18n="@@distro.create.field.name">Name</mat-label>
      <input
        matInput
        required
        cdkFocusInitial
        type="text"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@distro.create.field.kernel">Kernel</mat-label>
      <input matInput required type="text" formControlName="kernel" />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@distro.create.field.initrd">Initrd</mat-label>
      <input matInput required type="text" formControlName="initrd" />
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button
      mat-button
      (click)="createDistro()"
      i18n="@@distro.create.save-button"
    >
      Save Distribution
    </button>
    <button mat-button [mat-dialog-close]="false" i18n="@@button.cancel">
      Cancel
    </button>
  </div>
</div>
