<app-manage-menu></app-manage-menu>

<div class="right-column" id="dataScreen">
  <div class="Images-div">
    <router-outlet></router-outlet>
    <h1 class="title">IMAGES</h1>
    <div>
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-primary">Cancel</button>
    </div>
    <form class="images-form">
      <div class="form-group" *ngFor="let item of data">
        <label for="{item[0]}">{{item[3]}}</label>
        <input class="form-control"
               id="{item[0]}" value="{item[1]} {item[7]}"
               autocomplete="off" />
      </div>
    </form>
  </div>
</div>
