table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.title-table {
  display: table;
  width: 100%;
}

.title-row {
  display: table-cell;
  width: 100%;
}

.title-cell-text {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.title-cell-button {
  display: table-cell;
}

:host-context(.dark-theme) .mat-mdc-table {
  background-color: #1a1b1f;
}

:host-context(.dark-theme) a {
  color: white;
}

:host-context(.dark-theme) .link-icon {
  color: rgba(255, 255, 255, 0.372);
}
