.title-table {
  display: table;
  width: 100%;
}

.title-row {
  display: table-cell;
  width: 100%;
}

.title-cell-text {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.title-cell-button {
  display: table-cell;
}

.form-replicate {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.form-field-full-width {
  width: 100%;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: fit-content;
}

.link-icon {
  margin-left: 5px;
  font-size: 16px;
  width: 20px;
  height: 20px;
  color: #0000004b;
}

table.mat-mdc-table {
  border-radius: 14px 14px 0 0;
  box-shadow: none;
  overflow: hidden;
  background-color: white;
}

// Table cell
.mat-mdc-header-cell {
  border-bottom: 1px solid #cbcbcb;
}

.mat-mdc-cell {
  border-bottom: 1px solid #cbcbcb;
}

.mat-mdc-paginator {
  border-radius: 0 0 12px 12px;
  background-color: white;
}

:host-context(.dark-theme) .mat-mdc-table {
  background-color: #1a1b1f;
}

:host-context(.dark-theme) .mat-mdc-paginator {
  background-color: #1a1b1f;
}

:host-context(.dark-theme) .mat-mdc-header-cell {
  border-bottom: 1px solid #555555;
}

:host-context(.dark-theme) .mat-mdc-cell {
  border-bottom: 1px solid #555555;
}
:host-context(.dark-theme) a {
  color: white;
}

:host-context(.dark-theme) .link-icon {
  color: rgba(255, 255, 255, 0.372);
}
